<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
<div class="flex-container search-bar">
    <input type="text" [value]="value" (keydown)="onChange($event)" placeholder="search by card name" />
</div>

<div class="flex-container">
    <mat-card *ngFor="let card of cards" class="flex-child">
        <img mat-card-image src='{{ card.imageUrl }}'>
        <h1>{{ card.name }}</h1>
        <p>{{ card.text }}</p>
    </mat-card>
</div>
